@import url(owl.carousel.css);
@import url(owl.theme.default.css);
@import url(../web-fonts-with-css/css/fontawesome-all.css);
* {
  padding: 0;
  margin: 0; }

.navbar-default {
  height: 70px;
  background-color: white;
  border: none;
  background-image: none;
  -webkit-box-shadow: none; }
  .navbar-default ul {
    color: #484c55;
    padding-top: 20px;
    padding-right: 135px;
    font-size: 15px; }
    .navbar-default ul li {
      margin-right: 40px; }
  .navbar-default a {
    padding-left: 135px; }

.carousel {
  height: 565px;
  background: url("../images/backgroung_02.png"); }

.banner {
  padding-top: 145px;
  text-align: center; }
  .banner h1 {
    font-size: 63px;
    color: white;
    padding-bottom: 45px; }
  .banner p {
    font-size: 23px;
    color: white;
    padding-bottom: 65px; }
  .banner a {
    padding-top: 15px;
    font-size: 26px;
    color: white;
    margin-left: 8px;
    display: inline-block;
    width: 225px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    border: solid 2px #fff;
    border-radius: 8px; }

.owl-carousel .owl-nav {
  font-size: 20px;
  position: absolute;
  top: 330px;
  width: 100%;
  color: #a0e4e5; }

.owl-nav .owl-prev {
  position: absolute;
  left: 0; }

.owl-nav .owl-prev:before {
  margin-left: 30px;
  content: "\f053";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  padding-top: 3px;
  padding-right: 3px;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  background-color: white; }

.owl-nav .owl-next {
  position: absolute;
  right: 0; }

.owl-nav .owl-next:before {
  margin-right: 30px;
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  padding-top: 3px;
  padding-left: 3px;
  margin-left: 8px;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  background-color: white; }

.user_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #eeeef0;
  display: inline-block;
  overflow: hidden;
  position: relative; }

.user_img img {
  display: block;
  width: 100%; }

.user_img:after {
  content: "+";
  color: red;
  display: inline-block;
  font-size: 100px;
  position: absolute;
  left: 73px;
  top: -150px;
  transition: 0.4s; }

.user_img:hover:after {
  top: 35px;
  transform: rotate(360deg); }

.urta {
  padding-bottom: 105px; }

.buy_color {
  background-color: #f1f1f1; }

.buy_now {
  padding-top: 120px;
  padding-bottom: 100px; }
  .buy_now li {
    list-style-type: none;
    text-align: center;
    border: solid 1px #ecf0f1; }
  .buy_now li:nth-child(1) {
    border: solid 1px transparent;
    height: 75px;
    width: 370px;
    padding-top: 15px;
    color: white;
    font-size: 26px; }
  .buy_now li:nth-child(2) {
    background-color: #f8f9fb;
    height: 70px;
    width: 370px;
    font-size: 20px;
    padding-top: 18px;
    color: #485460; }
  .buy_now li:nth-child(3) {
    background-color: #ffffff;
    height: 45px;
    width: 370px;
    padding-top: 12px;
    color: #abafb4; }
  .buy_now li:nth-child(4) {
    background-color: #ffffff;
    height: 45px;
    width: 370px;
    padding-top: 12px;
    color: #abafb4; }
  .buy_now li:nth-child(5) {
    background-color: #ffffff;
    height: 45px;
    width: 370px;
    padding-top: 12px;
    color: #abafb4; }
  .buy_now li:nth-child(6) {
    background-color: #ffffff;
    height: 45px;
    width: 370px;
    padding-top: 12px;
    color: #abafb4; }
  .buy_now li:nth-child(7) {
    background-color: #ffffff;
    height: 45px;
    width: 370px;
    padding-top: 12px;
    color: #abafb4; }
  .buy_now li:nth-child(8) {
    background-color: #ffffff;
    height: 45px;
    width: 370px;
    padding-top: 12px;
    color: #abafb4; }
  .buy_now li:nth-child(9) {
    background-color: #f8f9fb;
    height: 100px;
    width: 370px;
    padding-top: 30px;
    color: #abafb4; }

.basic li:nth-child(1) {
  background-color: #485460; }
.basic a {
  background-color: #485460;
  padding-top: 5px;
  font-size: 17px;
  color: white;
  margin-left: 8px;
  display: inline-block;
  width: 170px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border: solid 2px #fff;
  border-radius: 8px; }

.pro li:nth-child(1) {
  background-color: #49cbcd; }
.pro a {
  padding-top: 5px;
  font-size: 17px;
  color: white;
  margin-left: 8px;
  display: inline-block;
  width: 170px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border: solid 2px #fff;
  border-radius: 8px;
  background-color: #49cbcd; }

.premium li:nth-child(1) {
  background-color: #485460; }
.premium a {
  padding-top: 5px;
  font-size: 17px;
  color: white;
  margin-left: 8px;
  display: inline-block;
  width: 170px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border: solid 2px #fff;
  border-radius: 8px;
  background-color: #485460; }

footer {
  background-image: url("../images/test-small_02.png"); }

.contact {
  padding-bottom: 85px; }
  .contact h2 {
    color: white;
    padding-top: 105px;
    padding-bottom: 115px;
    text-align: center; }
  .contact i {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    color: white;
    margin-right: 15px; }
  .contact .fa-facebook-f {
    background-color: #3b5997; }
  .contact .fa-twitter {
    background-color: #3ec2f3; }
  .contact .fa-google-plus-g {
    background-color: #e44c41; }
  .contact .lorem {
    color: #7d7d7d;
    padding-bottom: 40px; }
  .contact p {
    color: #bface2;
    font-size: 14px;
    margin-top: 15px; }
  .contact h3 {
    color: white;
    font-size: 24px;
    padding-bottom: 15px; }
  .contact textarea {
    width: 555px;
    height: 180px; }
  .contact .btn-default {
    height: 50px;
    width: 170px;
    border-radius: 8px;
    color: white; }

/*# sourceMappingURL=style.css.map */
